<div class="container">
  <div class="row">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%# 名前を保存 %>
        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <%# 住所登録を記述 %>
      <%# 入力フォームにusers.coffeeとひもづいたidをつける %>
      <div class="field">
        <%= f.label :postal_code %><br />
        <%= f.text_field :postcode, autofocus: true, class: "postcode", id: "address_zipcode" %>
      </div>

      <%# 都道府県プルダウン f.collection_select プロパティ名, オブジェクトの配列, value属性の項目, テキストの項目 [, オプション] %>
      <div class="field">
        <%= f.label :prefecture_code %><br />
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, class: "address", id: "user_prefecture_code" %>
      </div>

      <%# 市区町村 %>
      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :address_city, autofocus: true, class: "address", id: "address_city" %>
      </div>

      <%# 番地 %>
      <div class="field">
        <%= f.label :street %><br />
        <%= f.text_field :address_street, autofocus: true, class: "address", id: "address_street" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
