<%# フォローしているユーザーの一覧画面 %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Follow Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <%# フォローしているユーザーのidを引っ張る %>
          <% @user.following_user.where.not(id: @user.id).each do |user| %>
            <tr>
              <td><a><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg", size: "40x40" %></a></td>
              <td><%= user.name %></td>
              <%# フォロー・フォロワー数（それぞれリンクも作成） %>
              <td><%= "フォロー数: #{user.follower.count}" %></td>
              <td><%= "フォロワー数: #{user.followed.count}" %></td>
              <%# フォローする・外すリンク（user_infoと同様） %>
              <td>
                <% if current_user.following?(user) %>
                  <%= link_to 'フォロー外す', relationship_path(user.id), method: :delete %>
                <% else %>
                  <%= link_to 'フォローする', relationship_path(user.id), method: :post %>
                <% end %>
              </td>
              <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </table>
    </div>
  </div>
</div>