<%# 投稿された本の詳細ページ %>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%# 部分テンプレート %>
      <%# プロフィール %>
      <%= render 'layouts/userinfo', user: @user %>
      <%# 新規投稿 %>
      <%= render 'layouts/booknew', book: @book_new %>
    </div>

    <div class="col-xs-9">
      <h2>Book detail</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%# 非同期通信のため、投稿それぞれのtrクラスに一位な値を付与 %>
          <tr id="book_<%= @book.id %>">
            <%# 非同期通信のため、投稿一覧部分を部分テンプレート化（post） %>
            <%= render 'books/post', book: @book %>
          </tr>
        </tbody>
      </table>

      <%# 非同期通信のため、コメント一覧を部分テンプレート化→book_comment/_comments %>
      <table class="table" id="comment_list">
        <%= render 'book_comments/comments', book_comments: @book.book_comments %>
      </table>

      <%# コメント投稿フォーム %>
      <%# 非同期通信にて実行 %>
      <div class="comment_form">
        <%= form_with model: [@book, @book_comment], remote: true do |f| %>
          <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに", id: "book_comment" %>
          <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>